#content{
    position: relative;
    left: 15px;
    top: 120px;
    height: 1206px;
    width:calc(100% - 30px);
}

#google_map1, #google_map2, #google_map3{
    position: absolute;
    border-radius: 7px ;
    height: 250px;
    width:23%;
    background-color: rgba(255,255,255,.85);
    margin:0;
    top: 150px
    }
#google_map1{
    border-radius: 0 0 7px 7px;
    left: 0px;
}
#google_map2{
    border-radius: 0 0 7px 7px;
    left: calc(23% + 20px);
}
#google_map3{
    border-radius: 7px 0 0 7px;
    right: calc(21% - 19px);
    width: calc(33% - 31px);
    top:0;
    height:400px;
}

#content1,#content2,#content3 {
    border-radius: 7px 7px 0 0;
    position: absolute;
    height: 130px;
    top: 0px;
    width: calc(23% - 20px);
    background-color: rgb(235,241,245);
    padding: 10px;
    font-family: Montserrat,sans-serif;
    font-size: 13px;
    line-height: 130%;
    color: rgb(22,22,110);
}
span.title{
    font-size: 17px;
    text-shadow: -0.5px 0 #55A;
    color:rgb(90,90,150);
    font-weight:700;
    line-height: 20px;
}
#content1{
    left: 0;
}
#content2{
    left: calc(23% + 20px);
}
#content3{
    border-radius: 0 7px 7px 0;
    width: calc(21% - 39px);
    height:380px;
    right: 0;
    background-color: rgb(245,241,235);
}

#ref1, #ref2{
    position: absolute;
    bottom: 0;
    right: 0;
    text-align: right;
    padding: 0 7px 3px 0;
    color: #aac;
}
a {
    color: #aac;
}
#places{
    position: absolute;
    top: 0px;
    border-radius: 7px;
    left: 0;
    top: 450px;
    height: 320px;
    width: calc(100% - 20px);
    background-color: rgb(235,241,245);
    padding:10px;
    font-family: Montserrat,sans-serif;
    font-size: 15px;
    line-height: 2;
}
#pictures{
    position: absolute;
    top: 0px;
    border-radius: 7px;
    left: 0;
    top: 810px;
    height: 330px;
    width: 100%;
    background-color: rgba(235,241,245,0.5);
}


#UPD{
    position: fixed;
    left: 0;
    bottom: 100;
}

